@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

::-moz-selection {
  background-color: #ffc600;
  color: #272727;
}

::selection {
  background-color: #ffc600;
  color: #272727;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

ion-icon {
  font-size: 5rem;
}
@media (max-width: 950px) {
  ion-icon {
    font-size: 3rem;
  }
}

body {
  color: #777777;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.textimg-bgr {
  color: #272727;
  font-size: 5rem;
  display: inline-block;
  width: 90%;
  margin: 0 auto;
  background-image: linear-gradient(to bottom right, #ffc600, #272727);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  transition: all 0.2s;
}
.textimg-bgr:hover {
  text-shadow: 0.5rem 1rem 2rem rgba(44, 62, 80, 0.2);
}

.title {
  margin: 0 auto;
  text-align: center;
}

strong {
  font-weight: 900;
}

.u-center-text {
  text-align: center;
}

.u-margin-bt--small {
  margin-bottom: 1rem;
}
.u-margin-bt--medium {
  margin-bottom: 2rem;
}
.u-margin-bt--large {
  margin-bottom: 3rem;
}

.structure {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "logo navbar navbar" "main main side" "partners partners partners" "footer footer footer";
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}
@media (max-width: 750px) {
  .structure {
    grid-template-areas: "logo navbar navbar" "main main main" "side side side" "partners partners partners" "footer footer footer";
  }
}
.structure__sobre {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "logo navbar navbar" "main main main" "missao visao valores" "footer footer footer";
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}
@media (max-width: 950px) {
  .structure__sobre {
    grid-row-gap: 2rem;
    grid-column-gap: 2px;
  }
}
@media (max-width: 750px) {
  .structure__sobre {
    grid-row-gap: 2rem;
    grid-template-areas: "logo navbar navbar" "main main main" "missao missao missao" "visao visao visao" "valores valores valores" "footer footer footer";
  }
}

.btn {
  text-transform: uppercase;
  background-color: #ecf0f1;
  color: #08b597ff;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 1.5rem 4rem;
  display: inline-block;
  text-align: center;
  border-color: transparent;
  border-radius: 10rem;
  transition: all 0.2s;
}
@media (max-width: 950px) {
  .btn {
    font-size: 1.2rem;
    padding: 1rem 2rem;
  }
}
.btn--menu {
  width: 30%;
  justify-self: end;
  max-width: 20rem;
  max-height: 5rem;
}
@media (max-width: 950px) {
  .btn--menu {
    width: 50%;
  }
}
.btn--white {
  color: #2c3e50;
  background-color: #ecf0f1;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.2);
}

.navbar {
  grid-area: navbar;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #3a79a2ff;
  padding: 4.5rem 3rem;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  z-index: 1;
}
@media (max-width: 550px) {
  .navbar {
    padding-left: 20rem;
  }
}
.navbar__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.navbar__item {
  font-size: 1.5rem;
  margin-left: 1rem;
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}
.navbar__item:hover {
  border-bottom: 2px solid #08b597ff;
  transform: translateY(-0.5rem);
}
.navbar__link {
  color: #ecf0f1;
  padding: 1rem;
  transition: all 0.3s;
  align-self: center;
}
.navbar__link:hover {
  color: #08b597ff;
}

section {
  width: 100%;
  padding: 3rem;
}

.row {
  max-width: 114rem;
  background-color: #ecf0f1;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  background: #2980b9;
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - (6rem * 2)) / 3);
}
.row .col-2-of-3 {
  width: calc(((100% - (6rem * 2)) / 3)* 2 + 6rem);
}
.row .col-1-of-4 {
  width: calc((100% - (6rem * 3)) / 4);
}
.row .col-2-of-4 {
  width: calc(((100% - (6rem * 3)) / 4)* 2 + 6rem);
}
.row .col-3-of-4 {
  width: calc(((100% - (6rem * 3)) / 4)* 3 + (2 * 6rem));
}

.grid {
  margin: 0 auto;
  background-color: #1abc9c;
}
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  color: #ecf0f1;
}
.grid-2__item {
  background-color: #2c3e50;
}

.container {
  max-width: 70%;
  margin: 0 auto;
}
.container p {
  font-size: 2rem;
  color: #ecf0f1;
  margin-bottom: 3rem;
}

.fullsite {
  padding: 3rem;
}

.logo {
  grid-area: logo;
  position: fixed;
  margin-left: 3rem;
  max-width: 15rem;
  justify-self: start;
  z-index: 3;
  background-color: white;
  box-shadow: 4px 3px 8px 1px #474747;
}
.logo--2 {
  grid-area: logo;
  z-index: 2;
  margin-left: 3rem;
  margin-top: 2rem;
  max-width: 8.4rem;
  position: sticky;
  justify-self: start;
  top: 0;
}

.principal__main {
  grid-area: main;
  padding: 3rem;
  background-image: linear-gradient(to left bottom, rgba(8, 181, 151, 0.9), rgba(39, 39, 39, 0.5)), url(../img/assessoria.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  display: grid;
  align-self: center;
  justify-self: center;
  height: 100%;
  margin-left: 3rem;
}
@media (max-width: 750px) {
  .principal__main {
    margin-right: 3rem;
  }
}
.principal__title {
  font-size: 3rem;
  line-height: 1.3;
  max-width: 50%;
  text-align: end;
  justify-self: end;
  margin-bottom: 2rem;
  text-align: right;
}
@media (max-width: 950px) {
  .principal__title {
    max-width: 70%;
  }
}
.principal__subtitle {
  max-width: 50%;
  justify-self: end;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: right;
}
@media (max-width: 950px) {
  .principal__subtitle {
    max-width: 75%;
    font-size: 1.7rem;
  }
}
.principal__side {
  grid-area: side;
  padding: 3rem;
  background-color: #08b597ff;
  color: #ecf0f1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin-right: 3rem;
}
@media (max-width: 950px) {
  .principal__side {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 950px) {
  .principal__side {
    grid-template-columns: 1fr 1fr;
    margin-left: 3rem;
  }
}
.principal__side h1 {
  grid-column: 1/-1;
  margin-bottom: 3rem;
}
.principal__side h2 {
  text-align: center;
  margin-bottom: 2rem;
}
@media (max-width: 950px) {
  .principal__side h2 {
    margin-top: 2rem;
  }
}
.principal__side--item {
  font-size: 1.2rem;
}
@media (max-width: 750px) {
  .principal__side--item {
    font-size: 1.3rem;
  }
}

.links {
  grid-area: links;
  padding: 3rem;
  background-color: #08b597ff;
  color: #ecf0f1;
  font-size: 1rem;
  margin-left: 3rem;
}

.partners {
  grid-area: partners;
  padding: 3rem;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  text-align: center;
}
.partners h1 {
  grid-column: 1/-1;
}
.partners__logos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  margin: 0 auto;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  text-align: center;
}
@media (max-width: 950px) {
  .partners__logos {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
.partners__logos--img {
  max-width: 12rem;
  margin: auto;
}
@media (max-width: 950px) {
  .partners__logos--img {
    max-width: 10rem;
  }
}

.footer {
  grid-area: footer;
  background-color: #272727;
  color: #ecf0f1;
  padding: 3rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  grid-template-areas: "afiliate info contact";
}
@media (max-width: 950px) {
  .footer {
    padding: 2rem 1rem;
  }
}
@media (max-width: 750px) {
  .footer {
    padding: 2rem 1rem;
    grid-template-columns: 1fr;
    grid-template-areas: "afiliate" "info" "contact";
  }
}
.footer__filiate {
  text-align: center;
  grid-area: afiliate;
}
@media (max-width: 950px) {
  .footer__filiate {
    font-size: 1rem;
  }
}
.footer__filiate img {
  background-color: white;
  max-width: 20rem;
  border-radius: 50%;
  justify-self: center;
}
@media (max-width: 950px) {
  .footer__filiate img {
    max-width: 15rem;
  }
}
.footer__info {
  grid-area: info;
}
@media (max-width: 750px) {
  .footer__info {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
.footer__info--content {
  align-self: center;
  display: grid;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 1rem;
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: auto;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 300;
}
@media (max-width: 900px) {
  .footer__info--content {
    font-size: 1.3rem;
  }
}
@media (max-width: 760px) {
  .footer__info--content {
    justify-self: center;
    width: 80%;
    grid-template-columns: 1fr 6fr;
    row-gap: 1.6rem;
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
    padding-bottom: 4rem;
  }
}
.footer__info--content a {
  color: inherit;
  display: inline-block;
  padding: 0;
  font-size: 0.8rem;
  transition: all 0.2s;
}
@media (max-width: 900px) {
  .footer__info--content a {
    font-size: 0.5rem;
  }
}
.footer__info--content a:hover {
  color: #08b597ff;
  transform: translateY(-0.5rem);
}
.footer__form {
  font-size: 1.6rem;
  font-weight: 300;
  text-align: right;
}
@media (max-width: 950px) {
  .footer__form {
    font-size: 1.2rem;
  }
}
@media (max-width: 760px) {
  .footer__form {
    margin-bottom: 4rem;
  }
}
.footer__form form {
  grid-area: contact;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1rem;
  font-family: inherit;
  grid-template: "label input";
}
.footer__form form *:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
@media (max-width: 900px) {
  .footer__form form {
    grid-template-columns: 1fr 5fr;
  }
}
@media (max-width: 760px) {
  .footer__form form {
    grid-template-columns: 1fr 5fr;
  }
}
.footer__form form label {
  grid-column: label;
}
.footer__form form input,
.footer__form form button {
  grid-column: input;
}
.footer__form form input[type=text],
.footer__form form input[type=email],
.footer__form form input[type=tel],
.footer__form form input[type=submit],
.footer__form form select,
.footer__form form textarea {
  width: 100%;
  padding: 7px;
  width: 90%;
}

.about__main {
  grid-area: main;
  padding: 3rem;
  background-image: linear-gradient(to left, rgba(8, 181, 151, 0.9), rgba(39, 39, 39, 0.5)), url(../img/about-us1.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  display: grid;
  align-self: center;
  justify-self: center;
  height: 90vh;
  width: 96%;
}
.about__title {
  font-size: 3rem;
  line-height: 1.3;
  max-width: 50%;
  text-align: end;
  justify-self: end;
  margin-bottom: 2rem;
  text-align: right;
}
@media (max-width: 950px) {
  .about__title {
    font-size: 3rem;
    line-height: 1.3;
    max-width: 70%;
  }
}
.about__subtitle {
  max-width: 70%;
  justify-self: end;
  font-size: 1.7rem;
  text-align: right;
}
@media (max-width: 950px) {
  .about__subtitle {
    max-width: 70%;
    font-size: 1.6rem;
  }
}
@media (max-width: 750px) {
  .about__subtitle {
    max-width: 90%;
    line-height: 1.8rem;
  }
}

.missao {
  grid-area: missao;
  display: grid;
  padding: 3rem;
  margin: 3rem;
  color: white;
  text-align: center;
  align-items: center;
  background-color: #56a9dfff;
}
@media (max-width: 950px) {
  .missao {
    padding: 2rem;
    margin: 1rem 2rem;
  }
}
.missao h3 {
  font-size: 3rem;
  align-self: start;
  margin-bottom: 1rem;
}
.missao p {
  font-size: 1.6rem;
  align-self: end;
  height: 100%;
  width: 100%;
}

.visao {
  grid-area: visao;
  display: grid;
  padding: 3rem;
  margin: 3rem;
  color: white;
  text-align: center;
  align-items: center;
  background-color: #56a9dfff;
}
@media (max-width: 950px) {
  .visao {
    padding: 2rem;
    margin: 1rem 2rem;
  }
}
.visao h3 {
  font-size: 3rem;
  align-self: start;
  margin-bottom: 1rem;
}
.visao p {
  font-size: 1.6rem;
  align-self: end;
  height: 100%;
  width: 100%;
}

.valores {
  grid-area: valores;
  display: grid;
  padding: 3rem;
  margin: 3rem;
  color: white;
  text-align: center;
  align-items: center;
  background-color: #56a9dfff;
}
@media (max-width: 950px) {
  .valores {
    padding: 2rem;
    margin: 1rem 2rem;
  }
}
.valores h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  align-self: start;
}
.valores p {
  font-size: 1.6rem;
  align-self: end;
  height: 100%;
  width: 100%;
}

.structure__contato {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "logo navbar navbar" "main main main" "footer footer footer";
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.info-contact {
  display: grid;
  margin: 0 auto;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
  padding: 3rem;
}
@media (max-width: 750px) {
  .info-contact {
    grid-template-columns: 1fr;
    grid-template-areas: "left" "right";
    text-align: left;
    grid-row-gap: 3rem;
  }
}
.info-contact__left {
  width: 100%;
}
.info-contact__left--duvidas {
  width: 100%;
}
.info-contact__left--duvidas h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #3a79a2ff;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
@media (max-width: 750px) {
  .info-contact__left--duvidas h2 {
    font-size: 1.8rem;
  }
}
.info-contact__left--duvidas h3 {
  font-size: 1.5rem;
}
@media (max-width: 750px) {
  .info-contact__left--duvidas h3 {
    font-size: 1rem;
  }
}
.info-contact__left--duvidas h4 {
  font-size: 1.5rem;
}
@media (max-width: 750px) {
  .info-contact__left--duvidas h4 {
    font-size: 1rem;
  }
}
.info-contact--right {
  color: inherit;
}

.partners img {
  float: left;
  margin: 0 2rem 3rem 0;
}
@media (max-width: 750px) {
  .partners img {
    float: none;
  }
}
.partners--text {
  font-size: 1.5rem;
  text-align: justify;
}
.partners__img {
  width: 40%;
  display: relative;
}
@media (max-width: 750px) {
  .partners__img {
    width: 80%;
  }
}/*# sourceMappingURL=style.css.map */