.structure {
  &__contato{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "logo navbar navbar"
  "main main main"
  "footer footer footer";
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}
}

.info-contact{
  display: grid;
  margin: 0 auto;
  column-gap: 3rem;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
  padding: 3rem;
  @media (max-width:750px) {
    grid-template-columns: 1fr;
    grid-template-areas: "left"
                         "right";
    text-align: left;
    grid-row-gap: 3rem;

  
  }

  &__left{
    width: 100%;

    &--duvidas{
      width: 100%;

      h2{
        font-size: 3rem;
        font-weight: 700;
        color:$dark-blue;
        margin-bottom: 2rem;
        margin-top: 2rem;
        @media (max-width:750px){font-size: 1.8rem;}

      }
      h3 {
        font-size: 1.5rem;
        @media (max-width:750px){font-size: 1rem;}

      }

      h4 {
        font-size: 1.5rem;
        @media (max-width:750px){font-size: 1rem;}

      }
    }
  }
  &--right{
   color: inherit;
  }
}
