.partners {
  img{
    float: left;
    margin: 0 2rem 3rem 0;
    @media (max-width:750px) {
      float: none; 
   }
  }
  &--text{
    font-size: 1.5rem;
    text-align: justify;
  }

  &__img{
    width: 40%;
    display: relative;
    @media (max-width:750px) {
      width: 80%; 
   }
  }
}