.about {  
    &__main{
      grid-area: main;
      padding: 3rem;
      background-image: linear-gradient(
        to left,
        rgba($green, 0.9),
        rgba($mainBlack, 0.5)
      ),
      url(../img/about-us1.jpg);
      background-size: cover;
      background-position: center;
      color: white;
      display: grid;
      align-self: center;
      justify-self: center;
      height: 90vh;
      width: 96%;
    }
  
    &__title{
      font-size: 3rem;
      line-height: 1.3;
      max-width: 50%;
      text-align: end;
      justify-self: end;
      margin-bottom: 2rem;
      text-align: right;

      @media (max-width: 950px) {
        font-size: 3rem;
        line-height: 1.3;
        max-width: 70%;
      }
    }
  
    &__subtitle{
      max-width: 70%;
      justify-self: end;
      font-size: 1.7rem;
      text-align: right;

      @media (max-width: 950px) {
        max-width: 70%;
        font-size: 1.6rem;
      }

      @media (max-width: 750px) {
        max-width: 90%;
        line-height: 1.8rem;

      }
    }
  }

  .missao{
    grid-area: missao;
    display: grid;
    padding: 3rem;
    margin: 3rem;
    color: white;
    text-align: center;
    align-items: center;
    background-color: $light-blue;
    @media (max-width: 950px) {
      padding: 2rem;
      margin: 1rem 2rem;
    }

    h3 {
    font-size: 3rem;
    align-self: start;
    margin-bottom: 1rem;
    }
    p {
        font-size: 1.6rem;
        align-self: end;
        height: 100%;
        width: 100%;
    }

  }

  .visao{
    grid-area: visao;
    display: grid;
    padding: 3rem;
    margin: 3rem;
    color: white;
    text-align: center;
    align-items: center;
    background-color: $light-blue;
    @media (max-width: 950px) {
      padding: 2rem;
      margin: 1rem 2rem;
    }

    h3 {
    font-size: 3rem;
    align-self: start;
    margin-bottom: 1rem;
    }
    p {
        font-size: 1.6rem;
        align-self: end;
        height: 100%;
        width: 100%;
    }
  }

  .valores{
    grid-area: valores;
    display: grid;
    padding: 3rem;
    margin: 3rem;
    color: white;
    text-align: center;
    align-items: center;
    background-color: $light-blue;
    @media (max-width: 950px) {
      padding: 2rem;
      margin: 1rem 2rem;
    }

    h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
    align-self: start;
    }
    p {
        font-size: 1.6rem;
        align-self: end;
        height: 100%;
        width: 100%;
    }
  }