.footer {
  grid-area: footer;
  background-color: $mainBlack;
  color: $colorCloud;
  padding: 3rem;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  grid-template-areas: 
  "afiliate info contact";
  
  @media (max-width: 950px){
    padding: 2rem 1rem;
  }

  @media (max-width: 750px){
    padding: 2rem 1rem;
    grid-template-columns: 1fr;
    grid-template-areas: 
  "afiliate" "info" "contact";
  }

  &__filiate {
    text-align: center;
    grid-area: afiliate;

    @media (max-width: 950px){
      font-size: 1rem;
    }

    img {
      background-color: white;
      max-width: 20rem;
      border-radius: 50%;
      justify-self: center;
      @media (max-width: 950px){
        max-width: 15rem;
      }

    }
  }

  &__info{
    grid-area: info;

    @media (max-width:750px){
      margin-left: 3rem;
      margin-right: 3rem;

    }

    &--content {
      align-self: center;
      display: grid;
      column-gap: 2rem;
      row-gap: 1rem;
      grid-template-columns: 1fr 4fr;
      grid-auto-rows: auto;
      align-items: center;
      font-size: 1.5rem;
      font-weight: 300;
  
      @media (max-width: 900px) {
        font-size: 1.3rem;
      }
  
      @media (max-width: 760px) {
        justify-self: center;
        width: 80%;
        grid-template-columns: 1fr 6fr;
        row-gap: 1.6rem;
        column-gap: .5rem;
        padding-bottom: 4rem;
    }
  
    a {
      color: inherit;
      display: inline-block;
      padding: 0;
      font-size: 0.8rem;
      transition: all 0.2s;
      @media (max-width: 900px) {
        font-size: 0.5rem;
      }
  
      &:hover {
        color: $green;
        transform:translateY(-.5rem);
      }
    }
   }

  }

 &__form {
  font-size: 1.6rem;
  font-weight: 300;
  text-align: right;

  @media (max-width: 950px) {
    font-size: 1.2rem;
  }

  @media (max-width: 760px)
  {
    margin-bottom: 4rem;
  }
  

  form {
    grid-area: contact;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
    font-family: inherit;
    grid-template: 
    "label input";

    *:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color: black, $alpha: 0.2);
    }

    @media (max-width: 900px){
      grid-template-columns: 1fr 5fr;

    }

    @media (max-width: 760px){
      grid-template-columns: 1fr 5fr;

    }

    label {
      grid-column: label;
    }
    input,
    button {
      grid-column: input;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="submit"],
    select,
    textarea {
      width: 100%;
      padding: 7px;
      width: 90%;
        }
}
 }
}