section{ 
  width: 100%;
  padding: 3rem;
}


.row {
  max-width: $grid-width;
  background-color: $colorCloud;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;
  
  [class^= "col-" ] {
    background: $colorBelizeHole;
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - (#{$gutter-horizontal} * 2)) / 3);
  }

  .col-2-of-3 {
    width: calc(((100% - (#{$gutter-horizontal} * 2)) / 3)* 2 + #{$gutter-horizontal});
  }

  .col-1-of-4 {
    width: calc((100% - (#{$gutter-horizontal} * 3)) / 4);
  }

  .col-2-of-4 {
    width: calc(((100% - (#{$gutter-horizontal} * 3)) / 4)* 2 + #{$gutter-horizontal});
  }

  .col-3-of-4 {
    width: calc(((100% - (#{$gutter-horizontal} * 3)) / 4)* 3 + (2 * #{$gutter-horizontal}));
  }
}

.grid {
  margin: 0 auto;
  background-color: $colorTurquoise;

  &-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    color: $colorCloud;
  
    &__item{
      background-color: $colorMidnightBlue;
    }
  }
}

.container {
  max-width: 70%;
  margin: 0 auto;
  p {
    font-size: 2rem;
    color: $colorCloud;
    margin-bottom: 3rem;
  }
}