.logo {
  grid-area: logo;
  position: fixed;
  margin-left: 3rem;
  max-width: 15rem;
  justify-self: start;
  z-index: 3;
  background-color: white;
  box-shadow: 4px 3px 8px 1px #474747;


  &--2{
  grid-area: logo;
  z-index: 2;
  margin-left: 3rem;
  margin-top: 2rem;
  max-width: 8.4rem;
  position: sticky;
  justify-self: start;
  top: 0;
  }

  }
