.partners {
  grid-area: partners;
  padding: 3rem;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  text-align: center;
  @media (max-width:950px){

  }

  h1 {
    grid-column: 1 / -1;
  }

  &__logos{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    margin: 0 auto;
    column-gap: 3rem;
    text-align: center;
    @media (max-width:950px){
      column-gap: 2rem;
    }
  
    &--img{
    max-width: 12rem;
    margin: auto;

    @media (max-width:950px){
      max-width: 10rem;
    }
    }
  }
}