.principal {  
  &__main{
    grid-area: main;
    padding: 3rem;
    background-image: linear-gradient(
      to left bottom,
      rgba($green, 0.9),
      rgba($mainBlack, 0.5)
    ),
    url(../img/assessoria.jpg);
    background-size: cover;
    background-position: center;  
    color: white;
    display: grid;
    align-self: center;
    justify-self: center;
    height: 100%;
    margin-left: 3rem;
    @media (max-width:750px) {
      margin-right: 3rem;
    }
  }

  &__title{
    font-size: 3rem;
    line-height: 1.3;
    max-width: 50%;
    text-align: end;
    justify-self: end;
    margin-bottom: 2rem;
    text-align: right;
    @media (max-width: 950px) {
      max-width: 70%;  }
  }
 

  &__subtitle{
    max-width: 50%;
    justify-self: end;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: right;
    @media (max-width: 950px) {
      max-width: 75%;
      font-size: 1.7rem;
    }
  }

  &__side {
    grid-area: side;
    padding: 3rem;
    background-color: $green;
    color: $colorCloud;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    margin-right: 3rem;
    @media (max-width: 950px) {
    grid-template-columns: 1fr; 
    }
    @media (max-width: 950px) {
      grid-template-columns: 1fr 1fr; 
      margin-left: 3rem;
      }

    h1{
      grid-column: 1 / -1;
      margin-bottom: 3rem;
    }

    h2 {
      text-align: center;
      margin-bottom: 2rem;
      @media (max-width: 950px) {
        margin-top: 2rem;
      }
      
    }

    &--item {
      font-size: 1.2rem;
      @media (max-width:750px){
        font-size: 1.3rem;
        }
    }


  }
}