.btn {
  text-transform: uppercase;
  background-color: $colorCloud;
  color: $green;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 1.5rem 4rem;
  display: inline-block;
  text-align: center;
  border-color: transparent;
  border-radius: 10rem;
  transition: all 0.2s;
  @media (max-width: 950px) {
    font-size: 1.2rem;
    padding: 1rem 2rem;

  }

  &--menu {
    width: 30%;
    justify-self: end;
    max-width: 20rem;
    max-height: 5rem;
    @media (max-width: 950px) {
      width: 50%;
  
    }
     
  }

  &--white {
    color: $colorMidnightBlue;
    background-color: $colorCloud;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.2);
  }
}
