.navbar {
  grid-area: navbar;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $dark-blue;
  padding: 4.5rem 3rem;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  z-index: 1;
  @media (max-width:550px) {
    padding-left: 20rem;

  }

  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }

  &__item{
    font-size: 1.5rem;
    margin-left: 1rem;
    border-bottom: 2px solid transparent;
    transition: all .3s;


    &:hover{
      border-bottom: 2px solid $green;
      transform: translateY(-.5rem);

    }

  }

  &__link{
    color: $colorCloud;
    padding: 1rem;
    transition: all .3s;
    align-self: center;

    &:hover{
      color: $green;
    }
  }
}
