*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

html {
  // Definition of 1 rem to 10px
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

::selection {
  background-color: $mainYellow;
  color: $mainBlack;
}

a {
  text-decoration: none;
}

img {
  height: auto;
  max-width: 100%;
}
  // Definition of 1 rem to 10px

ol,  // Definition of 1 rem to 10px
ul {
  list-style: none;
}

ion-icon {
  font-size: 5rem;

  @media (max-width:950px){
    font-size: 3rem
  }
}