.structure {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "logo navbar navbar"
  "main main side"
  "partners partners partners"
  "footer footer footer";
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;

  @media (max-width: 750px) {
    grid-template-areas: 
    "logo navbar navbar"
    "main main main"
    "side side side"
    "partners partners partners"
    "footer footer footer";
  }
  &__sobre {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "logo navbar navbar"
  "main main main"
  "missao visao valores"
  "footer footer footer";
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;

  @media (max-width: 950px){
    grid-row-gap: 2rem;
    grid-column-gap: 2px;
  }

  @media (max-width:750px){
    grid-row-gap: 2rem;
    grid-template-areas: 
      "logo navbar navbar"
      "main main main"
      "missao missao missao"
      "visao visao visao"
      "valores valores valores"
      "footer footer footer";
    }

  }
}