@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  color: $mainColor;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.textimg-bgr {
  color: $mainBlack;
  font-size: 5rem;
  display: inline-block;
  width: 90%;
  margin: 0 auto;
  background-image: linear-gradient(to bottom right, $mainYellow, $mainBlack);
  background-clip: text;
  color: transparent;
  transition: all .2s;

  &:hover{
    text-shadow: .5rem 1rem 2rem rgba($color: $colorMidnightBlue, $alpha: .20);
}
}

.title{
  margin: 0 auto;
  text-align: center;
}

strong {
  font-weight: 900;
  
}