// Client colors
$light-blue: #56a9dfff;
$dark-blue: #3a79a2ff;
$green: #08b597ff;

//All colors are based on defaut FlatUI Palette.
$mainColor: #777777;
$mainBlack: #272727;
$mainYellow: #ffc600;

$colorTurquoise: #1abc9c;
$colorGreenSea: #16a085;
$colorSunFlower: #f1c40f;
$colorOrange: #f39c12;
$colorEmerald: #2ecc71;
$colorNephritis: #27ae60;
$colorCarrot: #e67e22;
$colorPumpkin: #d35400;
$colorPeterRiver: #3498db;
$colorBelizeHole: #2980b9;
$colorAlizarin: #e74c3c;
$colorPromegranate: #c0392b;
$colorAmethyst: #9b59b6;
$colorWisteria: #8e44ad;
$colorCloud: #ecf0f1;
$colorSilver: #bdc3c7;
$colorWetAsphalt: #34495e;
$colorMidnightBlue: #2c3e50;
$colorConcrete: #95a5a6;
$colorAsbestos: #7f8c8d;

//Grid Variables

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
